/*@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);*/
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
a, abbr, acronym, address, applet, article, aside, aside, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, html, iframe, img, ins, kbd, label, legend, li, menu, nav, object, ol, p, pre, q, s, samp, section, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}
img {
  font-size: 0; letter-spacing: -1px; 
}
button, a, select {
  outline: none;
}
html,body {
  height: 100%;
}
body {
  font-family: 'Nanum Gothic',Dotum,Helvetica,AppleSDGothicNeo,sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #333;
}

html, body {
  font-size: 12px;
}


h1 {font-size: 3em}
h2 {font-size: 2.5em}
h3 {font-size: 2em}
h4 {font-size: 1.5em}
h5 {font-size: 1.2em}
h6 {font-size: 1em}

hr{height:1px; border:none; color:#000; background-color:#e0e7ef;margin:0}

.iw-margin-01em { margin:0.3em 1em 0 1em!important}
.iw-margin-1em0 { margin:1em 0!important}
/*.iw-margin-001em0 { margin-bottom:1em!important}*/
.iw-padding-1em0 { padding:1em 0}
.iw-padding-01em { padding:0 1em}
.iw-padding-1em { padding: 1em}

.iw-container {
	width: 100%;
}
.iw-middle {
	height: 100%;
}
.iw-page-padding {
	padding: 0 1em;
}
.iw-page-header > .iw-col {
	height: 40px;
	line-height: 40px;
}
.iw-filter .iw-col{
	height: 40px;
	line-height: 40px;
}
.iw-row-padding{padding:0 0.8em}
.iw-row.iw-col-padding > .iw-col,.iw-row-padding.iw-col-padding > .iw-col{padding:0 0.8em}
.iw-container:after,.iw-row:after,.iw-row-padding:after,.iw-clear:after,.iw-btn-group:before,.iw-btn-group:after
{content:"";display:table;clear:both}

/* start - 12column responsive fluid grid. */
.iw-col{float:left;width:100%}
.iw-col.s1{width:8.33333%}
.iw-col.s2{width:16.66666%}
.iw-col.s3{width:24.99999%}
.iw-col.s4{width:33.33333%}
.iw-col.s5{width:41.66666%}
.iw-col.s6{width:49.99999%}
.iw-col.s7{width:58.33333%}
.iw-col.s8{width:66.66666%}
.iw-col.s9{width:74.99999%}
.iw-col.s10{width:83.33333%}
.iw-col.s11{width:91.66666%}
.iw-col.s12{width:99.99999%}
.iw-col.text-right{
	text-align: right;
}
@media only screen and (min-width:601px){
	.iw-col.m1{width:8.33333%}
	.iw-col.m2{width:16.66666%}
	.iw-col.m3{width:24.99999%}
	.iw-col.m4{width:33.33333%}
	.iw-col.m5{width:41.66666%}
	.iw-col.m6{width:49.99999%}
	.iw-col.m7{width:58.33333%}
	.iw-col.m8{width:66.66666%}
	.iw-col.m9{width:74.99999%}
	.iw-col.m10{width:83.33333%}
	.iw-col.m11{width:91.66666%}
	.iw-col.m12{width:99.99999%}
}

@media only screen and (min-width:993px){
	.iw-col.l1{width:8.33333%}
	.iw-col.l2{width:16.66666%}
	.iw-col.l3{width:24.99999%}
	.iw-col.l4{width:33.33333%}
	.iw-col.l5{width:41.66666%}
	.iw-col.l6{width:49.99999%}
	.iw-col.l7{width:58.33333%}
	.iw-col.l8{width:66.66666%}
	.iw-col.l9r{width:74.99999%}
	.iw-col.l10{width:83.33333%}
	.iw-col.l11{width:91.66666%}
	.iw-col.l12{width:99.99999%}
}
.iw-rest{overflow:hidden}
/* end - 12column responsive fluid grid. */


/* start - table style */
.iw-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border: 1px solid #d7d7d7;
	border-bottom: none;
}
.iw-table td, .iw-table th {
  border: 1px solid #d7d7d7;
  border-width: 0 1px 1px 0;
  padding: 4px;
}
.iw-table td:last-child, .iw-table th:last-child {
  border-right: 0;
}
.iw-table th {
  background-color: #f1f1f1;
  font-weight: bold;
  vertical-align: middle;
}
.iw-table td {
  color: #666;
  background: #fff;
}
/* end - table style */

/* tab style */
.iw-tab {
    list-style: none;
    overflow: hidden;
    padding: 0 12px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.iw-tab:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background: #eaeff3;
    box-sizing: border-box;
    border-bottom: 1px solid #d9e2eb;
    border-left: 1px solid #d9e2eb;

}
.iw-tab > li {
    height:40px;
    position: relative;
    float: left;
}
.iw-tab > li > a{
    display: block;
    color: #999;
    height: 34px;
    font-size: 12px;
    padding: 0 24px;
    line-height: 34px;
    margin-top: 6px;
    border-radius: 4px 4px 0 0;
    margin-right: 4px;
    cursor: pointer;
		text-decoration: none;
}
.iw-tab > li > a:hover {
    color: #000;
    background: #d9e2eb;
}
.iw-tab > li > a.active{
    color: #000;
    height: 36px;
    line-height: 36px;
    margin-top: 4px;
    font-size: 12px;
    background: #fff;
    border: 1px solid #d9e2eb;
    border-bottom: 1px solid #fff;
}



.iw-datagird-wrap {
	width: 100%;
	overflow: auto;
}
.iw-datagird-ui {
    background: #eee;
    border-top: 1px solid #e0e7ef;
	/* overflow: hidden; */
}
.iw-datagird-ui > .iw-col{
	height: 30px;
	line-height: 30px;
}
.iw-datagird-ui button.iw-btn {
	display: inline-block;
	text-align: center;
	height: 30px;
	border: 0;
	border-right: 1px solid #cbcfd7;
	background-color: #eee;
	color: #666;
	margin: 0;
	cursor: pointer;
	box-sizing: border-box;
	white-space: nowrap;
	font-size: 0; letter-spacing: -1px; 
}
.iw-datagird-ui .iw-btn:hover {
	background-color: #d6d6d6;
	border-color: #cbcbcb;
	color: #000;
	box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
}
span.icon-search {
    display: block;
    width: 30px;
    height: 30px;
    background:url(../images/gnb_small_sprite.png) no-repeat;
    background-position: 0 -538px;
}
span.icon-remove {
    display: block;
    width: 30px;
    height: 30px;
    background:url(../images/gnb_small_sprite.png) no-repeat;
    background-position: -60px -538px;
}
/* pagination style  */
.iw-datagrid-page {
    overflow: hidden;
    position: relative;
    display: inline-block;
}
.iw-datagrid-page > li {
    float: left;
    border-left: 1px solid #cbcfd7;
    border-radius: 0;
    cursor: pointer;
    background-color: #eee;
    list-style: none;


    height: 30px;
    color: #666;
    font-size: 11px;
    line-height: 30px;

}
.iw-datagrid-page > li > a > span {
    font-size: 14px;
    font-weight: bold;
}
.iw-datagrid-page > li:last-child {
    border-right: 1px solid #cdcfd7;
}
.iw-datagrid-page > li.active {
    background: #fff;
}
.iw-datagrid-page > li > a {
    display: block;
    height: 100%;
    color: #666;
    font-size: 11px;
    cursor: pointer;
    padding: 0 12px;
		text-decoration: none;
}
.iw-datagrid-page > li > a:hover {
	background-color: #d6d6d6;
	border-color: #cbcbcb;
	color: #000;
	box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
}

/* pagination style 2 */

.iw-datagrid-page > li.totalpage {
    background: #f9f9f9;
    padding:0 12px;
    color: #999;
}
.iw-datagrid-page> li.totalpage > span {
    color: #666;
    font-size: 12px;
    margin: 0 4px;
    font-weight: bolder;
}
.iw-datagrid-page > li.go > a > span {
    font-size: 10px;
}


/* start - button style */
.iw-btn{
	border:none;display:inline-block;outline:0;padding:0.5em 1.2em;vertical-align:middle;overflow:hidden;text-decoration:none!important;color:#666;background-color:#ddd;text-align:center;cursor:pointer;white-space:nowrap;		
}
.iw-btn.iw-disabled,.iw-btn-block.iw-disabled,.iw-btn-floating.iw-disabled,.iw-btn:disabled,.iw-btn-floating:disabled,.iw-btn-floating-large.iw-disabled,.iw-btn-floating-large:disabled{cursor:not-allowed;opacity:0.3}
.iw-btn.iw-disabled *,.iw-btn-block.iw-disabled,.iw-btn-floating.iw-disabled *,.iw-btn:disabled *,.iw-btn-floating:disabled *{pointer-events:none}

.iw-btn.iw-disabled:hover,.iw-btn-block.iw-disabled:hover,.iw-btn:disabled:hover,.iw-btn-floating.iw-disabled:hover,.iw-btn-floating:disabled:hover,
.iw-btn-floating-large.iw-disabled:hover,.iw-btn-floating-large:disabled:hover{box-shadow:none}

.iw-btn:hover,.iw-btn-block:hover,.iw-btn-floating:hover,.iw-btn-floating-large:hover{
	box-shadow:0 1px 4px 0 rgba(0,0,0,0.2),0 1px 1px 0 rgba(0,0,0,0.2)	
}
.iw-btn-block{width:100%}

.iw-btn,.iw-btn-floating,.iw-btn-floating-large,.iw-closenav,.iw-opennav{
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
/* �빊酉��뜎 占쎈땾占쎌젟 */
.iw-btn-floating,.iw-btn-floating-large{display:inline-block;text-align:center;color:#fff;background-color:#000;position:relative;overflow:hidden;z-index:1;padding:0;border-radius:50%;cursor:pointer;font-size:24px}
.iw-btn-floating{width:40px;height:40px;line-height:40px}
.iw-btn-floating-large{width:56px;height:56px;line-height:56px}
.iw-btn-group .iw-btn{float:left}
.iw-btn.iw-ripple{position:relative}
/* end - button style */

/* start - round style */
.iw-round-small{border-radius:0.2em!important}
.iw-round,.iw-round-medium{border-radius:0.3em!important}
.iw-round-large{border-radius:0.5em!important}
/* end - round style */

/* start - border style */
.iw-border-0{border:0!important}
.iw-border{border:1px solid #ccc!important}
.iw-border-top{border-top:1px solid #ccc!important}.iw-border-bottom{border-bottom:1px solid #ccc!important}
.iw-border-left{border-left:1px solid #ccc!important}.iw-border-right{border-right:1px solid #ccc!important}
/* end - border style */

/* start - align style */
.iw-left-align{text-align:left!important}.iw-right-align{text-align:right!important}
.iw-justify{text-align:justify!important}
.iw-center{text-align:center!important}
/* end - align style */




/* iw select */
label.iw-select {
	display: inline-block;
	outline:0;padding:0 0.5em 0 1em;vertical-align:middle;overflow:hidden;text-decoration:none!important
}

input.iw-select,
select.iw-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
	padding: 0.5em 20px 0.5em 4px;
  border: 1px solid #d7d7d7;
  border-radius: 0.3em;
  box-sizing: border-box;
  vertical-align:middle;overflow:hidden;text-decoration:none!important;
  color: #666;
  background: url(../images/bullet_dropdown.png)100% 50% no-repeat;
}
select.iw-select.w100p {
	width: 100%;
}
select.iw-select.bg-color-white {
	background-color: #FFFFFF;
}
select.iw-select::-ms-expand {
  display: none;
}
/* select style2 */
.iw-datagird-ui .iw-select-wrap {
	border-radius: 0;
	background-color: #eee;
}
.iw-datagird-ui .iw-select-wrap > select {
	width: 100%;
	border: 0;
	border-left: 1px solid #d7d7d7;
	border-radius: 0;
}


/* modal style */
.modal {
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background: rgba(46,47,49,0.6);

}
.modal > .modal-dialog {
    position: relative;
    width: 100%;
    margin: 0px auto;
}
.panel {
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.64);
}
.panel-header {
    background: #2d323e;
    padding: 20px;
    color: #999;
    position: relative;
    /*    border-radius: 4px 4px 0 0;*/

    border-bottom: 1px solid #d7d7d7;
}
.panel-header > .panel-btns {
    position: absolute;
    top: 20px;
    right: 20px;
    font-weight: bold;
}
.panel-header > h3 {
    font-weight: bold;
    color: #fff;
    font-size: 14px;
}
.panel-header > p {
    line-height: 2;
    margin: 5px 0;
}
.panel-body {
    background: #fff;
}
.panel-body > h3 {
    font-weight: bold;
    color: #333;
    font-size: 12px;
    padding: 15px 0 10px 0;
}
.panel-body > p {
    line-height: 2;
    padding: 10px 0;
}
.panel-footer {
    overflow: hidden;
    border-top: 1px solid #d7d7d7;
    background: #fff;
    padding: 1em;
    /*    border-radius: 0 0 4px 4px;*/
}


/* form style */
div.form-group {
    background: #fafafa; 
}

div.form-group .lheight30 {
    line-height: 30px;
}
div.form-group div {
	vertical-align: baseline;
}
div.form-group > .iw-row,div.form-group > .iw-row-padding {
    border-bottom: 1px solid #d9e2eb;
    padding: 5px;
}
div.form-group.form-group-small > .iw-row,div.form-group.form-group-small > .iw-row-padding {
    border-bottom: 0;
    padding: 6px 0;
}
div.form-group.form-first-noline > .iw-row,div.form-group.form-first-noline > .iw-row-padding {
    border-top: 0;
}
div.form-group.form_last_noline > .iw-row,div.form-group.form_last_noline > .iw-row-padding {
    border-bottom: 0;
}
div.form-group > .iw-row:first-child,div.form-group > .iw-row-padding:first-child {
    border-top: 1px solid #d9e2eb;
}
div.form-group.form-first-noline > .iw-row:first-child,div.form-group.form-first-noline > .iw-row-padding:first-child {
    border-top: 0;
}
div.form-group.bg-even > .iw-row:nth-child(even),div.form-group.bg-even > .iw-row-padding:nth-child(even) {
    background: #f2f5f8;
}
div.form-group > .iw-row.no-line,div.form-group > .iw-row-padding.no-line {
    border-bottom: 0;
    padding-bottom: 0;
}
div.form-group > .iw-row.no-line:last-child,div.form-group > .iw-row-padding.no-line:last-child {
    border-bottom: 1px solid #d9e2eb;
}
input.iw-input {
    height: 28px;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    color: #666;
    padding: 0 4px;
    font-size: 12px;
    margin:0;
}
.iw-input.w100p {
    width: 100%;
}
.iw-input.w30p {
	width: 30%;
}
input.iw-input:disabled {
    background:#ffffff;
    box-shadow: none !important;
}
input.iw-input:focus {
    outline: none;
    border: 1px solid #3a9df7;
}
input.iw-input:hover {
    box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
}
label.iw-label {
    margin: 0 5px;
}
input[type=checkbox].iw-input:disabled + label:before, input[type=radio].iw-input:disabled + label:before {
    background: #eee;
    box-shadow: 0;
    box-shadow: none !important;
}
input[type=checkbox].iw-input, input[type=radio].iw-input {
    display:none;
}

input[type=checkbox].iw-input + label, input[type=radio].iw-input + label {
    display:inline;
    padding: 0 0 0 26px;
    position: relative;
    cursor: pointer;
}

input[type=checkbox].iw-input + label:hover:before, input[type=radio].iw-input + label:hover:before {

    box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
}


input[type=checkbox].iw-input:disabled + label:hover:before, input[type=radio].iw-input + label:hover:before {

    box-shadow: 0;
}

input[type=checkbox].iw-input + label:before {
    content: '';
    background: #fff;
    border-radius: 2px;
    position: absolute;
    top: -4px;
    left: 0;
    border: 1px solid #d7d7d7;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    margin:0;
}
input[type=checkbox].iw-input:checked + label:after  {
    content: '\2714';
    text-align: center;
    color: #3a9df7;
    position: absolute;
    top: -4px;
    left: 0;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    line-height: 20px;
    box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
}

input[type=radio].iw-input + label:before  {
    content: '';
    background: #fff;
    border-radius: 10px;
    position: absolute;
    top: -4px;
    left: 0;
    border: 1px solid #d7d7d7;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    margin:0;
}
input[type=radio].iw-input:checked + label:after  {
    content: '';
    text-align: center;
    background : #3a9df7;
    border-radius: 10px;
    position: absolute;
    top: -4px;
    left: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;    box-sizing: border-box;

    box-shadow: inset 0px 0px 1px 1px rgba(215,215,215,1),inset 0px 0px 0px 5px rgba(255,255,255,1);
}

input.iw-input.type-number {
	text-align: center;
}

input.iw-input.type-amount {
	text-align: right;
}

/* iw color */
.iw-blue {
	background-color: #3160aa;
	color: #fff;
}
.iw-green {
	background-color: #5cab46;
	color: #fff;
}
.iw-red {
	background-color: #d62980;
	color: #fff;
}

/* 占쎈�ワ옙�ワ옙�ワ옙�ワ옙�ワ옙�ワ옙�ワ옙�ワ옙�ワ옙�ワ옙�ワ옙�ワ옙�첽ss �빊遺쏙옙占쎈�ワ옙�ワ옙�ワ옙�ワ옙�ワ옙�ワ옙�ワ옙�ワ옙�ワ옙�ワ옙�ワ옙�ワ옙�ワ옙�ワ옙��  */
.sortable { 
   list-style-type: none; 
   margin: 0; 
   padding: 0; 
   width: 1000px; 
   table-layout:fixed;
}
.sortable li { 
   float: left; 
   width: 170px; 
   height: 155px; 
   border:1px solid #ddd; 
   table-layout:fixed;
}
.sortable li img {
   width: 170px; 
   height:120px;
}

textarea.iw-input {
    /* height: 28px; */
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    color: #666;
    padding: 4px 4px;
    font-size: 12px;
    margin:0;
}
textarea.iw-input.w100p {
	width : 100%;
}
textarea.iw-input.bg-color-white {
	background-color: #FFFFFF;
}
textarea.iw-input:disabled {
    background:#ffffff;
    box-shadow: none !important;
}
.tree-border {
	border-right: 1px solid #d7d7d7;
}

.tree-border-left {
	border-left: 1px solid #d7d7d7;
}

.underline1{
	height: 50px;
	background: #e8f2ff;
}

.underline2{
	height: 50px;
	background: #d9e9ff;
}

.panel-body h5{
	padding: 15px;
}

.panel-body{
	overflow: hidden;
}

.gridly{
	margin-top: 20px;
}

.list-left {
	float: left; 
	width: 15%; 
	height: 100%; 
	overflow-y: auto;
}

.list-right {
	float: left; 
	width: 85%; 
	height: 100%;
}

.list-right-1 {
	float: left;
	width: 80%;
}

.list-right-2 {
	float: left; 
	width: 20%; 
	padding-top: 15px;
}

.container-right {
	float: none; 
	margin-left: 20px; 
	overflow: auto; 
}

.container-right-wd {
	width: calc(99% - 10px);
}